<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" th:href="@{/css/style_singUp.css}"> -->
</head>

<body>
    <h1>No hemos encontrado tu información</h1>
    <a class="main__btn" th:href="@{/registro}">Regístrate</a>
    <a class="main__btn" th:href="@{/home}">Ir a inicio</a>
</body>

</html>